<nav class="bg-indigo-600 shadow-md">
  <div class="container mx-auto flex items-center justify-between px-4 py-3">
    <!-- Logo -->
    <a href="/">
      <div class="flex cursor-pointer items-center space-x-2">
        <div class="bg-white size-8 rounded-full p-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-8 text-indigo-600"
            viewBox="0 0 24 24"
            fill="currentColor"
          >
            <path
              d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm0-4h-2V7h2v8z"
            />
          </svg>
        </div>
        <span class="text-white text-xl font-semibold">Notes App</span>
      </div>
    </a>

    <!-- Navigation Links -->
    <div class="space-x-6">
      <% if (user) { %>
      <!-- Logged in -->
      <a
        href="/notes"
        class="text-white hover:text-indigo-300 transition duration-300"
        >Notes</a
      >
      <a
        href="/api/v1/users/logout"
        class="text-white bg-red-500 rounded-md px-3 py-2 hover:text-indigo-300 transition duration-300"
        >Logout</a
      >
      <% } else { %>
      <!-- Not logged in -->
      <a
        href="/login"
        class="text-white hover:text-indigo-300 transition duration-300"
        >Login</a
      >
      <a
        href="/register"
        class="text-white hover:text-indigo-300 transition duration-300"
        >Register</a
      >
      <% } %>
    </div>
  </div>
</nav>
