<%- include("./partials/header", { title:"Login or Register Error" }) %>
<body class="h-screen w-screen flex bg-indigo-600/5 justify-center items-center">
  <div class="font-bold text-red-500 capitalize"><%= error %></div>
</body>
